@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6 - ajmorneau</h1>
    <p class="lead">This web application expands on previous iteratios by implementing concepts such as rich text and various media files.</p>
    <p><a href="https://ajmorneau-wa-web524-a6.azurewebsites.net/" class="btn btn-primary btn-lg">Assignment 6 on Azure &raquo;</a></p>
</div>