@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Musician Database Management System</h1>
    <b>Instructions for Testing</b> <br />
    <p class="lead">This web app uses hierarchical authorization, therefore in order to be able to see and test all functionality you must select all checkboxes when registering.
    Once registered, more navigation menu options will be available to explore.</p>
    <p><a href="https://ajmorneau-wa-web524-a6.azurewebsites.net/" class="btn btn-primary btn-lg">Azure &raquo;</a></p>
</div>